#Activity:  Preparing Speed Dating Dataset

As an entrepreneur, you are planning to launch a new dating app into the market. The key feature that will differentiate your from other competitors will be your high performing matching algorithm between users. Before starting to build this model, you partnered with a speed dating company to collect some data from real events. You just received the dataset from your partner but realised it is not as clean as expected. So your task is to fix the main data quality issues you will find.
The following steps will help you complete this activity:
Download and load the dataset into Python
Check for duplicated rows
Check for unexpected values for numerical variables
Check for incorrect data type
Check for missing values
Fix identified issues if needed
The original dataset has been shared by Ray Fisman and Sheena Iyengar from Columbia Business School: 

http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/

The authors have provided a very useful document describing the dataset and its features: 

http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/Speed%20Dating%20Data%20Key.doc

1. Open on a new Colab notebook and import the pandas package

In [0]:
import pandas as pd

2. Assign the link to the dataset to a variable called 'file_url':

In [0]:
file_url = 'https://raw.githubusercontent.com/TrainingByPackt/The-Data-Science-Workshop/master/Chapter11/Speed_Dating_Data.csv'

3. Using the read_csv method from the package pandas, load the dataset into a new variable called 'df':

In [0]:
df = pd.read_csv(file_url)

4. Print the first 5 rows of the dataframe using the method .head():

In [5]:
df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,match,int_corr,samerace,age_o,race_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,prob_o,met_o,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec,attr,sinc,intel,fun,amb,shar,like,prob,met,match_es,attr1_s,sinc1_s,intel1_s,fun1_s,amb1_s,shar1_s,attr3_s,sinc3_s,intel3_s,fun3_s,amb3_s,satis_2,length,numdat_2,attr7_2,sinc7_2,intel7_2,fun7_2,amb7_2,shar7_2,attr1_2,sinc1_2,intel1_2,fun1_2,amb1_2,shar1_2,attr4_2,sinc4_2,intel4_2,fun4_2,amb4_2,shar4_2,attr2_2,sinc2_2,intel2_2,fun2_2,amb2_2,shar2_2,attr3_2,sinc3_2,intel3_2,fun3_2,amb3_2,attr5_2,sinc5_2,intel5_2,fun5_2,amb5_2,you_call,them_cal,date_3,numdat_3,num_in_3,attr1_3,sinc1_3,intel1_3,fun1_3,amb1_3,shar1_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3,attr4_3,sinc4_3,intel4_3,fun4_3,amb4_3,shar4_3,attr2_3,sinc2_3,intel2_3,fun2_3,amb2_3,shar2_3,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,1,11.0,0,0.14,0,27.0,2.0,35.0,20.0,20.0,20.0,0.0,5.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,60521.0,69487.0,2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,6.0,9.0,7.0,7.0,6.0,5.0,7.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,2,12.0,0,0.54,0,22.0,2.0,60.0,0.0,0.0,40.0,0.0,0.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,60521.0,69487.0,2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,7.0,8.0,7.0,8.0,5.0,6.0,7.0,5.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,3,13.0,1,0.16,1,22.0,4.0,19.0,18.0,19.0,18.0,14.0,12.0,1,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,60521.0,69487.0,2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,5.0,8.0,9.0,8.0,5.0,7.0,7.0,NaN,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,4,14.0,1,0.61,0,23.0,2.0,30.0,5.0,15.0,40.0,5.0,5.0,1,7.0,8.0,9.0,8.0,9.0,8.0,7.0,7.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,60521.0,69487.0,2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,7.0,6.0,8.0,7.0,6.0,8.0,7.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,5,15.0,1,0.21,0,24.0,3.0,30.0,10.0,20.0,10.0,10.0,20.0,1,8.0,7.0,9.0,6.0,9.0,7.0,8.0,6.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,60521.0,69487.0,2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

5. Print out the shape of the dataframe (number of rows and columns) using the pandas attribute .shape:

In [6]:
df.shape

(8378, 195)

This dataset contains quite a lot of features (195) for 8378 rows. Let's check if there is any duplicated rows in it.

6. Print out the number of duplicated rows (looking at all columns from the dataframe) by combining the pandas methods .duplicated() and .sum():

In [7]:
df.duplicated().sum()

0

Looking at the 195 columns of this dataset, there are no duplicate rows at all. Let's have an extra check but looking only at the identifiers variables listed in the dataset description document.

7. Print out the number of duplicated rows similarly to step 6 but this time look only at the identifiers columns ('iid','id','partner' and 'pid') by specifying the parameter 'subset':

In [8]:
df.duplicated(subset=['iid','id','partner','pid']).sum()

0

It seems there is no duplicated rows in this dataset.

8. Create a for loop and iterate through each columns of the dataframe using the pandas attribute '.columns' and print each column name and their unique values using the method '.unique()':

In [9]:
for col_name in df.columns:
  print(col_name)
  print(df[col_name].unique())

iid
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 119 120 121 122 123 124 125 126 127
 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307
 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325
 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343
 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361
 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397
 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415
 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433
 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451
 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469
 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487
 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505
 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523
 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541
 542 543 544 545 546 547 548 549 550 551 552]
id
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 19.
 20. 18. 21. 22. nan]
gender
[0 1]
idg
[ 1  3  5  7  9 11 13 15 17 19  2  4  6  8 10 12 14 16 18 20 21 23 25 27
 29 31 33 34 35 22 24 26 28 30 32 36 37 39 38 40 41 42 43 44]
condtn
[1 2]
wave
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]
round
[10 16 19 18  5 20  9 21 14  8  6 11 15  7 22]
position
[ 7  3  9  6  4  8  5 10  1  2 12 13 15 18 19 17 11 14 16 20 21 22]
positin1
[nan  2.  3.  4.  1.  5.  9. 10. 13. 14.  8.  6. 12. 11. 15.  7. 16. 19.
 18. 17. 20. 21. 22.]
order
[ 4  3 10  5  7  6  1  2  8  9 11 15 12 16 13 14 18 17 19 20 21 22]
partner
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 19 20 18 21 22]
pid
[ 11.  12.  13.  14.  15.  16.  17.  18.  19.  20.   1.   2.   3.   4.
   5.   6.   7.   8.   9.  10.  40.  41.  42.  43.  44.  45.  46.  47.
  48.  49.  50.  51.  52.  53.  54.  55.  21.  22.  23.  24.  25.  26.
  27.  28.  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  66.
  67.  68.  69.  70.  71.  72.  73.  74.  75.  56.  57.  58.  59.  60.
  61.  62.  63.  64.  65.  94.  95.  96.  97.  98.  99. 100. 101. 102.
 103. 104. 105. 106. 107. 108. 109. 110. 111.  76.  77.  78.  79.  80.
  81.  82.  83.  84.  85.  86.  87.  88.  89.  90.  91.  92.  93. 122.
 123. 124. 125. 126. 127. 128. 129. 130. 131. 112. 113. 114. 115. 116.
 117. 119. 120. 121.  nan 137. 138. 139. 140. 141. 132. 133. 134. 135.
 136. 158. 159. 160. 161. 162. 163. 164. 165. 166. 167. 168. 169. 170.
 171. 172. 173. 142. 143. 144. 145. 146. 147. 148. 149. 150. 151. 152.
 153. 154. 155. 156. 157. 184. 185. 186. 187. 188. 189. 190. 191. 192.
 193. 174. 175. 176. 177. 178. 179. 180. 181. 182. 183. 214. 215. 216.
 217. 218. 219. 220. 221. 222. 223. 224. 225. 226. 227. 228. 229. 230.
 231. 232. 233. 194. 195. 196. 197. 198. 199. 200. 201. 202. 203. 204.
 205. 206. 207. 208. 209. 210. 211. 212. 213. 243. 244. 245. 246. 247.
 248. 249. 250. 251. 234. 235. 236. 237. 238. 239. 240. 241. 242. 273.
 274. 275. 276. 277. 278. 279. 280. 281. 282. 283. 284. 285. 286. 287.
 288. 289. 290. 291. 292. 293. 252. 253. 254. 255. 256. 257. 258. 259.
 260. 261. 262. 263. 264. 265. 266. 267. 268. 269. 270. 271. 272. 308.
 309. 310. 311. 312. 313. 314. 315. 316. 317. 318. 319. 320. 321. 294.
 295. 296. 297. 298. 299. 300. 301. 302. 303. 304. 305. 306. 307. 332.
 333. 334. 335. 336. 337. 338. 339. 340. 322. 323. 324. 325. 326. 327.
 328. 329. 330. 331. 361. 362. 363. 364. 365. 366. 367. 368. 369. 370.
 371. 372. 373. 374. 375. 376. 377. 378. 341. 342. 343. 344. 345. 346.
 347. 348. 349. 350. 351. 352. 353. 354. 355. 356. 357. 358. 359. 360.
 397. 398. 399. 400. 401. 402. 403. 404. 405. 406. 407. 408. 409. 410.
 411. 412. 413. 414. 415. 379. 380. 381. 382. 383. 384. 385. 386. 387.
 388. 389. 390. 391. 392. 393. 394. 395. 396. 422. 423. 424. 425. 426.
 427. 428. 429. 416. 417. 418. 419. 420. 421. 440. 441. 442. 443. 444.
 445. 446. 447. 448. 449. 450. 451. 452. 453. 430. 431. 432. 433. 434.
 435. 436. 437. 438. 439. 460. 461. 462. 463. 464. 465. 454. 455. 456.
 457. 458. 459. 481. 482. 483. 484. 485. 486. 487. 488. 489. 490. 491.
 492. 493. 494. 495. 466. 467. 468. 469. 470. 471. 472. 473. 474. 475.
 476. 477. 478. 479. 480. 502. 503. 504. 505. 506. 507. 508. 496. 497.
 498. 499. 500. 501. 531. 532. 533. 534. 535. 536. 537. 538. 539. 540.
 541. 542. 543. 544. 545. 546. 547. 548. 549. 550. 551. 552. 509. 510.
 511. 512. 513. 514. 515. 516. 517. 518. 519. 520. 521. 522. 523. 524.
 525. 526. 527. 528. 529. 530.]
match
[0 1]
int_corr
[ 0.14  0.54  0.16  0.61  0.21  0.25  0.34  0.5   0.28 -0.36  0.29  0.18
  0.1  -0.21  0.32  0.73  0.6   0.07  0.11  0.39 -0.24 -0.14  0.09 -0.04
 -0.3  -0.26 -0.15 -0.47 -0.18  0.05  0.37  0.35  0.15 -0.19 -0.43  0.
 -0.17  0.08 -0.16  0.06 -0.05 -0.13 -0.06  0.33 -0.51  0.12  0.19  0.47
  0.03  0.46  0.43  0.52 -0.46 -0.27  0.59  0.31 -0.34 -0.03 -0.11  0.42
 -0.4  -0.23  0.17  0.68 -0.01 -0.35  0.3   0.65  0.24  0.41  0.49  0.01
  0.22 -0.08  0.27  0.44  0.62 -0.2  -0.02 -0.33 -0.52 -0.1   0.58 -0.57
 -0.31 -0.07 -0.32  0.04 -0.12  0.48 -0.22 -0.29  0.38  0.53 -0.38  0.02
 -0.28  0.13  0.2    nan -0.41 -0.44  0.51 -0.48  0.4   0.26  0.77 -0.49
 -0.25 -0.09  0.45 -0.39  0.83  0.57 -0.61  0.72 -0.37  0.23 -0.58  0.8
 -0.56  0.63 -0.63  0.71  0.36  0.56  0.55  0.76  0.69  0.79  0.9   0.67
  0.66  0.81  0.64  0.74  0.75  0.85 -0.42 -0.5  -0.59  0.7   0.82  0.78
 -0.45 -0.83  0.88 -0.7  -0.62 -0.55  0.87  0.91  0.84 -0.64 -0.73 -0.54]
samerace
[0 1]
age_o
[27. 22. 23. 24. 25. 30. 28. 21. 26. 29. nan 39. 32. 34. 35. 18. 20. 19.
 37. 33. 36. 31. 42. 38. 55.]
race_o
[ 2.  4.  3.  6.  1. nan]
pf_o_att
[ 35.    60.    19.    30.    50.    33.33 100.    15.    45.    20.
  10.     9.09  25.    40.    12.    17.      nan  21.     5.    18.
  14.    80.    17.39  18.75  18.6   20.83  16.67  12.77   6.67  18.18
  19.05  15.91  16.    15.22  20.51  27.78  11.11  17.78  16.28  19.57
  18.37  14.29   8.33  11.36  15.09   8.51  14.55   9.76  15.38  16.98
  19.44  15.56  20.45  20.93   9.52  12.24  13.04  19.15  16.07  17.02
  14.89   7.5   21.28  17.24  14.71  25.64  13.51  21.43  23.81  17.65
  17.5   13.21  19.61  14.58  17.31  11.54  16.36  15.52  22.    90.
  24.    27.    23.     0.     7.     2.    31.58  75.     9.    70.
  95.     8.    55.    28.    58.  ]
pf_o_sin
[20.    0.   18.    5.   10.   15.   11.11 25.   18.18 35.     nan 22.
 23.   17.    7.   30.    8.   24.   32.   21.    3.   40.   17.39 16.67
 16.28 20.83 19.15 22.73 19.05 20.45 18.75 15.22 23.08 12.5  19.44 13.95
 17.78 20.93 10.87 18.37 14.29 16.   16.98 16.36 19.51 17.31 18.87 16.33
 15.09 19.57 23.81 20.41 21.74 21.28 19.23 17.86 22.5  17.5  17.02  5.13
 17.24 14.71 17.95 18.92 17.65 15.69 13.46 15.56 19.    2.   14.   13.
 47.   60.   12.   14.53 10.53  1.   26.  ]
pf_o_int
[20.    0.   19.   15.   30.   25.   11.11 35.   27.27 10.   40.   18.
   nan 50.   23.   22.   45.   17.   21.    5.   15.22 18.75 18.6  16.67
 17.02 18.18 19.05 20.45 19.57 20.51 20.83 19.44 17.78 22.22 20.41 21.43
 16.   22.73 16.98 19.15 19.51 17.31 18.87 16.33 23.26 17.39 19.23 17.86
 17.5  21.28 23.08 23.81 17.24 14.71 15.38 21.62 17.65 18.37  2.   28.
 42.86 24.79 15.79 27.    1.    8.  ]
pf_o_fun
[20.   40.   18.   10.   11.11  0.   15.   25.   18.18 30.   16.     nan
 22.   17.   19.   23.   12.    5.   24.   35.   17.39 20.83 18.6  16.67
 17.02 17.78 13.64 19.05 20.45 18.75 17.95 27.78 16.28 15.56 19.57 20.41
 21.43 14.58 18.87 19.15 14.   14.63 17.31 16.98 18.37 14.29 19.23 17.86
 22.5  21.28 12.77 12.82 17.24 14.71 20.51 13.51 23.81 23.26 15.69 12.5
 16.33  2.    9.52  8.   17.09 21.05 27.   50.    3.    1.   45.   13.  ]
pf_o_amb
[ 0.   14.    5.   10.   11.11 15.   18.18 16.   20.   25.     nan  7.
 53.    8.   17.   13.    6.   11.    2.   18.   12.   13.04  6.67 12.5
 11.63  6.25 16.67 14.89 13.64  9.52 11.36 18.75  2.56  2.78 16.28 17.78
 15.56 13.95 19.57 16.33 19.05 18.87 19.15 16.36 19.51 17.31 16.98 18.37
 13.21 13.33 15.22 20.41 12.77 13.46 17.86  6.38 17.95 14.81  4.76 10.87
 13.79 20.59 10.26 13.51 11.9   2.38  2.33 15.69  9.62 15.38 17.65 11.54
 19.23 17.24 19.    4.   14.29  3.    5.98 10.53 30.    1.    9.  ]
pf_o_sha
[ 5.    0.   12.   20.   10.   22.22 15.    9.09 18.     nan 13.   14.
 22.    8.   30.   25.    6.    2.   19.57 13.33 12.5  16.28 18.75 16.67
 19.15 15.56 13.64 14.29 11.36 16.    8.33 15.38  2.78 17.78 11.63 10.87
  6.67  6.12  9.52 18.18 13.21 14.89 16.36 17.07 16.33 15.09 11.11 16.98
  2.27 13.04 17.39 12.77 17.31 11.54  7.5   8.51 10.64 21.28 20.51 18.52
 23.81 15.22 17.24 20.59 10.26 18.92 11.9   2.38 13.46 15.69 19.23 13.73
 14.55 15.52 21.    7.62 11.    1.   17.09 10.53 17.    9.    7.   19.
  3.    4.  ]
dec_o
[0 1]
attr_o
[ 6.   7.  10.   8.   3.   9.   5.   4.   2.   1.   nan  0.   6.5  7.5
  8.5  9.5  9.9 10.5  3.5]
sinc_o
[ 8.  10.   7.   6.   9.   3.   5.   4.   1.   2.   nan  4.5  8.5  0.
  7.5]
intel_o
[ 8.  10.   9.   7.   5.   6.   4.   3.   1.   nan  2.   6.5  0.   8.5
  7.5  9.5  2.5  5.5]
fun_o
[ 8.   7.  10.   6.   5.   9.   3.   4.   1.   2.   nan  5.5  0.   6.5
  9.5  7.5  8.5 11. ]
amb_o
[ 8.   7.  10.   9.   6.   5.   nan  4.   1.   2.   3.   5.5  9.5  0.
  7.5  8.5]
shar_o
[ 6.   5.  10.   8.   7.   9.   4.   3.   nan  1.   2.   0.   7.5  6.5
  8.5  5.5]
like_o
[ 7.   8.  10.   2.   6.5  6.   9.   4.   5.   3.   1.   8.5  9.5  nan
  7.5  4.5  0.   5.5  9.7]
prob_o
[ 4.  10.   7.   6.   1.   5.   8.   2.   3.   9.   nan  4.5  6.5  5.5
  0.   7.5  8.5  9.5  3.5  1.5]
met_o
[ 2.  1. nan  3.  5.  6.  7.  8.]
age
[21. 24. 25. 23. 22. 26. 27. 30. 28. nan 29. 34. 35. 32. 39. 20. 19. 18.
 37. 33. 36. 31. 42. 38. 55.]
field
['Law' 'law' 'Economics' 'Masters in Public Administration'
 'Masters of Social Work&Education' 'Finance' 'Business'
 'political science' 'money' 'Operations Research' 'TC (Health Ed)'
 'Psychology' 'social work' 'Social Work' 'Speech Language Pathology'
 'Speech Languahe Pathology' 'Educational Psychology'
 'Applied Maths/Econs' 'Mathematics' 'Statistics'
 'Organizational Psychology' 'Mechanical Engineering' 'Finanace'
 'Finance&Economics' 'Undergrad - GS' 'Mathematical Finance' 'Medicine'
 'MBA' 'LAW' nan 'psychology' 'German Literature'
 'Business & International Affairs' 'MFA Creative Writing' 'Engineering'
 'Electrical Engineering' 'Classics' 'Operations Research (SEAS)'
 'chemistry' 'Journalism' 'Elementary/Childhood Education (MA)'
 'microbiology' 'Masters of Social Work' 'Communications' 'Marketing'
 'Chemistry' 'International Educational Development'
 'Education Administration' 'Business (MBA)' 'Computer Science'
 'Climate-Earth and Environ. Science' 'financial math' 'Business- MBA'
 'Religion' 'Film' 'Sociology' 'Economics, English' 'Economics, Sociology'
 'Polish' 'English' 'psychology and english' 'Biomedical Engineering'
 'Economics and Political Science' 'Art History/medicine' 'philosophy'
 'electrical engineering' 'marine geophysics' 'theory' 'engineering'
 'Nutrition/Genetics' 'Neuroscience' 'Comparative Literature'
 'International Relations' 'History of Religion'
 'international affairs - economic development' 'Political Science'
 'Modern Chinese Literature' 'business' 'Business, marketing'
 'physics (astrophysics)' 'Physics' 'Business/ Finance/ Real Estate'
 'Biochemistry' 'Art Education' 'Philosophy' 'American Studies (Masters)'
 'biology' 'Cell Biology' 'Microbiology' 'math'
 'International Affairs/Finance' 'International Affairs'
 'international affairs/international finance' 'Health policy'
 'English and Comp Lit' 'international finance and business'
 'Sociomedical Sciences- School of Public Health' 'Epidemiology'
 'Social work' 'International Business' 'Medical Informatics'
 'International Finance, Economic Policy' 'Law and Social Work'
 'International Development' 'Business/Law' 'Clinical Psychology'
 'Religion, GSAS' 'International Affairs and Public Health'
 'International affairs' 'History'
 'Business and International Affairs (MBA/MIA Dual Degree)' 'QMSS'
 'climate change' 'Public Administration' 'MA Biotechnology'
 'International Affairs/Business' 'Ecology'
 'Master in Public Administration' 'Computational Biochemsistry'
 'Neurobiology' 'Mathematics, PhD' 'History (GSAS - PhD)' 'biomedicine'
 'Master of International Affairs' 'Sociology and Education'
 'elementary education' 'Biology' 'American Studies' 'Arts Administration'
 'Conservation biology' 'sociology' 'Japanese Literature' 'biotechnology'
 'Earth and Environmental Science' 'Philosophy (Ph.D.)'
 'Philosophy and Physics' 'nutrition' 'MA Science Education' 'Genetics'
 'Law and English Literature (J.D./Ph.D.)' 'french' 'Nutritiron'
 'GS Postbacc PreMed' 'Art History' 'Molecular Biology'
 'Genetics & Development' 'medical informatics' 'Electrical Engg.'
 'Business School' 'International Politics'
 'MBA / Master of International Affairs (SIPA)' 'genetics'
 'medicine and biochemistry' 'Social Studies Education'
 'MA Teaching Social Studies' 'Education Policy'
 'Education- Literacy Specialist' 'Anthropology/Education'
 'bilingual education' 'speech pathology' 'Education' 'Speech Pathology'
 'math education' 'TESOL' 'Elementary Education'
 'Cognitive Studies in Education' 'education' 'Finance/Economics'
 'Museum Anthropology' 'Environmental Engineering'
 'Business Administration' 'Curriculum and Teaching/Giftedness'
 'Anthropology' 'Instructional Tech & Media' 'School Psychology'
 'Instructional Media and Technology' 'SIPA / MIA' 'English Education'
 'art education' 'MA in Quantitative Methods' 'Early Childhood Education'
 'anthropology' 'Architecture' 'Urban Planning'
 'Ed.D. in higher education policy at TC'
 'International Security Policy - SIPA' 'Nutrition' 'EDUCATION'
 'Applied Physiology & Nutrition' 'music education' 'Music Education'
 'Counseling Psychology' 'Communications in Education'
 'Intellectual Property Law' 'MBA Finance' 'Intrernational Affairs'
 'BUSINESS CONSULTING' 'business school' 'Business, Media' 'MFA -Film'
 'Higher Ed. - M.A.' 'Neuroscience and Education' 'Creative Writing'
 'Creative Writing - Nonfiction' 'Writing: Literary Nonfiction'
 'Creative Writing (Nonfiction)' 'NonFiction Writing'
 'Theatre Management & Producing' 'Financial Engineering'
 'biomedical engineering' 'Fundraising Management'
 'Business (Finance & Marketing)' 'Elementary Education - Preservice'
 'Education Leadership - Public School Administration' 'MFA Writing'
 'Bilingual Education' 'International Affairs - Economic Policy'
 'SIPA - Energy' 'Public Policy' 'Law/Business' 'MFA  Poetry'
 'SOA -- writing' 'biomedical informatics' 'physics' 'art history'
 'working' 'Consulting' 'Human Rights: Middle East' 'Human Rights'
 'medicine' 'Biotechnology' 'SIPA-International Affairs'
 'teaching of English' 'GSAS' 'African-American Studies/History'
 'Neurosciences/Stem cells' 'film' 'journalism' 'Theater' 'Biology PhD'
 'biochemistry/genetics' 'epidemiology' 'Stats' 'math of finance'
 'MFA Acting Program' 'Nonfiction writing'
 'Biochemistry & Molecular Biophysics' 'Acting' 'Social Work/SIPA'
 'Public Health' 'ELECTRICAL ENGINEERING' 'Math' 'Biomedical engineering'
 'Industrial Engineering' 'Industrial Engineering/Operations Research'
 'Masters of Industrial Engineering' 'Biomedical Informatics'
 'MBA - Private Equity / Real Estate' 'General management/finance'
 'Climate Dynamics']
field_cd
[ 1.  2. 13.  8.  5.  9.  3. 11. nan 12.  4.  7.  6. 10. 14. 16. 15. 17.
 18.]
undergra
[nan 'George Mason University' 'Holy Cross' 'University of Pennsylvania'
 'UCLA' 'Swarthmore College' 'Columbia College' 'SUNY Binghamton'
 'Barnard College' 'school of social sciences in uruguay'
 'Yale University' 'University of Washington' 'Columbia'
 'SUNY Stony Brook' 'Fudan University, Shanghai, China' 'Cornell'
 'Universidad Catolica de Chile' 'Amherst College' 'Hebrew University'
 'Universidad Iberoamericana' "Tokyo Woman's Christian University, Japan"
 'University of Maryland, and Oxford' 'UW Madison' 'Harvard'
 'Syracuse University' 'Rice' 'Smith College' 'Brown University'
 'University of Warsaw' 'Yale' 'Columbia University' 'Stanford'
 'colby college, waterville, me' 'ChungShenMedicalUniversity(Taiwan)'
 'Wesleyan University' 'University of Toronto' 'Brandeis University'
 'PACE University' 'charles university, prague, czech republic'
 'UC Berkeley' 'Novosibirsk State University' 'RPI' 'umass' 'UNLV'
 'MSU, Russia' 'University of North Carolina at Charlotte' 'REC, Rourkela'
 'Columbia Business School' 'tech school' 'Queens College'
 'Connecticut College' 'Emory University' 'Harvey Mudd College (Physics)'
 'University of Paris' 'U of  Michigan' 'MIT' 'Rutgers University'
 'Arizona State' 'Univ of Pennsylvania' 'Washington U. in St. Louis'
 'SUNY Geneseo' 'New York University' 'Miami University'
 'university of pennsylvania' 'marymount manhattan college'
 'Holy Cross College' 'university of the philippines'
 'National Taiwan University' 'William and Mary' 'Taiwan University'
 'SUNY Albany' 'UPenn' 'Brown' 'Delhi University' 'Princeton U.'
 'Engineering' 'Harcourt Butler Technological Institute'
 'Penn State University' 'UC Davis' "Ecole Superieure d'Electricite"
 'Kunitachi College of Music (in Japan)'
 'Fu Jen Catholic University, Taiwan' 'Bucknell University'
 'Fordham University' 'University of Arizona' 'Binghamton University'
 'Cal Berkeley' 'Univ. of Connecticut' 'university of wisconsin/la crosse'
 'Cornell University' 'Trinity College' 'Georgetown University'
 'Florida International University' 'Texas A&M'
 'Rizvi College of Architecture, Bombay University'
 'University of Michigan-Ann Arbor' 'Univ of New Mexico'
 'Biological Sciences' 'HOWARD UNIVERSITY' 'UC, IRVINE!!!!!!!!!'
 'Augustana College' 'University of Akron, OH' 'ucla'
 'Berklee College Of Music' 'Shia-Chian University'
 'Loyola College in Maryland' 'University of Delaware' 'Lafayette College'
 'wellesley college' 'Hampshire College' 'Jesus and Mary College,Delhi'
 'Univeristy of Barcelona' 'lipscomb university' 'HEC FRance'
 'Monash University - Australia' 'Harvard University'
 'Cambridge University' 'Boston College' 'Illinois' 'Harvard College'
 'Universidad de Costa Rica' 'SOGANG UNIVERSITY(KOREA)'
 'University of Texas' 'u of southern california, economics' 'nyu'
 'Northwestern University' 'University of Michigan' 'NYU'
 'School of the Arts' 'Bowdoin College' 'University of Oregon'
 'Colgate University' 'Mary Baldwin College' 'Occidental College'
 'George Washington University' 'Cagliari - Italy'
 'University of Wisconsin-Madison' 'Bocconi University Milan'
 'University of Karlsruhe/Germany' 'University of Illinois/Champaign'
 'Supaero (France)' 'Ecole Polytechnique (France)' 'University of Vermont'
 'Univ. of Bombay' 'GW' 'ecole polytechnique' 'The American University'

There are quite a lot of columns in this dataset but we can see some of them have similar patterns such as containing values between 1 and 10 or 0 and 100. Looking at the dataset description document, we know the values of the following variables should range between 1 and 10: 'imprace', 'imprelig', 'sports', 'tvsports', 'exercise', 'dining',
'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 
'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga',
'exphappy', 'satis_2'. In the next few steps, we are going to check there are no unexpected values for thes columns.

9. Create a variable called 'scale_1_10' which will list the following columns names: 'imprace', 'imprelig', 'sports', 'tvsports', 'exercise', 'dining',
'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 
'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga',
'exphappy', 'satis_2'.

In [0]:
scale_1_10 = ['imprace', 'imprelig', 'sports', 'tvsports', 'exercise', 'dining',
'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 
'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga',
'exphappy', 'satis_2']

10. Create a function called 'check_range' that takes as input parameter a column (a pandas Serie), minimum value and maximum value. The function will check for each row of the given column if it outside the given range (below minimum value or above the maximum value) and returns the corresponding list of binary value.

In [0]:
def check_range(column, min_value, max_value):
  unexpected_mask = (column < min_value) | (column >max_value)
  return unexpected_mask

11. Test your function on the column 'imprace' and 1 and 10 respectively as the minimum and maximum values, save its output into a variable called 'unexpected_mask' and print its sum of to check how many cases are outside this range:

In [12]:
unexpected_mask = check_range(df['imprace'], 1, 10)
unexpected_mask.sum()

8

So there are 8 rows that have values for 'imprace' outside the expected range (between 1 and 10).

12. Define a function called 'print_unexpected' that takes as input parameter a dataframe, column name, a list of binary values. This function will check the sum of the binary values is over 0 and if it is the case print out the column name, this sum and the unique values of the given column and the rows that matches the binary list (keeping only True values) using the pandas method '.loc' and .unique():

In [0]:
def print_unexpected(df, col_name, unexpected_mask):
  if unexpected_mask.sum() > 0:
    print(col_name)
    print(unexpected_mask.sum())
    print(df.loc[unexpected_mask,col_name].unique())

13. Test your function on the column 'imprace' with the output of the previous function, unexpected_mask:

In [14]:
print_unexpected(df, 'imprace', unexpected_mask)

imprace
8
[0.]

We can see we still have 8 cases that are outside the expected range for this column and the unexpected value is 0.

14. Create a function called 'check_ranges' that takes as input parameter a dataframe, a list of columns, a minimum and maximum values. This function will iterate through each column from the given column list, called the function 'check_range' and pass its output to the function 'print_unexpected' you defined in steps 10 and 12:

In [0]:
def check_ranges(df, col_list, min_value, max_value):
  for col_name in col_list:
    unexpected_mask = check_range(df[col_name], min_value, max_value)
    print_unexpected(df, col_name, unexpected_mask)

15. Test this function with the dataset, the list 'scale_1_10' you defined at step 9 and 1 and 10 as their minimum and maximum values respectively:

In [16]:
check_ranges(df, scale_1_10, 1, 10)

imprace
8
[0.]
museums
18
[0.]
art
18
[0.]
hiking
18
[0.]
gaming
137
[14.  0.]
clubbing
18
[0.]
reading
51
[13.]
theater
18
[0.]
movies
18
[0.]
concerts
18
[0.]
yoga
36
[0.]

We can most of these columns have the unexpected value 0 and some of them have 13 and 14. In a real project, you will probably go and ask the surveyors if these values are expected or not. Let's say they confirmed the value 0 is actually a possible value in the survey but not 13 and 14 and they think it is just an error while they recorded these case and the value should be 10. Let's see how we can fix these issues in the next steps.

16. Create a function called 'replace_value' that takes as input parameter a dataframe, a column name, an incorrect value and a new value. This function will subset all the rows equals to the incorrect value for the given column and replace it with the new given value, print out the column name and the list of unique values of this column after replacement.

In [0]:
def replace_value(df, col_name, incorrect_value, new_value):
  df.loc[df[col_name] == incorrect_value, col_name] = new_value
  print(col_name)
  print(df[col_name].unique())

17. Test your function on the 'gaming' column, 14 as the incorrect value and 10 as the new value:

In [18]:
replace_value(df, 'gaming', 14, 10)

gaming
[ 1.  5.  4.  6.  2.  3.  7.  8. 10. nan  9.  0.]

We see that after replacement the value 14 is not part of the possible values of this column.

18. Use your function on the column 'reading', 13 as the incorrect value and 10 as the new value:

In [19]:
replace_value(df, 'reading', 13, 10)

reading
[ 6. 10.  7.  9.  8.  4.  5. nan  2.  3.  1.]

We see that after replacement the value 13 is not part of the possible values of this column.

19. Create a for loop that will iterate through the following suffixes: ['1_1', '1_2', '1_3', '1_s', '2_1', '2_2', '2_3', '4_1', '4_2', '4_3', '7_2', '7_3']. For each of them, create a list comprehension (or another for loop) to extract the columns which contain the given suffix by using the method .endswith() and store them into a variable called 'suffix_cols' and then apply the function 'check_ranges' on this list and 0 and 100 as their minimum and maximum values:

In [0]:
for suffix in ['1_1', '1_2', '1_3', '1_s', '2_1', '2_2', '2_3', '4_1', '4_2', '4_3', '7_2', '7_3']:
  suffix_cols = [col for col in df.columns if col.endswith(suffix)]
  check_ranges(df, suffix_cols, 0, 100)

There is no output displayed that means all these columns have values within the expected range: between 0 and 100.

20. Create a similar for loop as step 19 for the following suffixes and with 1 and 10 as minimum and maximum values: ['3_1', '3_2', '3_3', '5_1', '5_2', '5_3', '3_s']

In [21]:
for suffix in ['3_1', '3_2', '3_3', '5_1', '5_2', '5_3', '3_s']:
  suffix_cols = [col for col in df.columns if col.endswith(suffix)]
  check_ranges(df, suffix_cols, 1, 10)

attr3_3
112
[12.]
sinc3_3
173
[12.]
intel3_3
233
[12.]
fun3_3
153
[12.]
amb3_3
147
[12.]

We can see that all columns ending with '3_3' have 12 as unexpected values. Let's say after concertation with the surveyors we agreed to replace these values by 10.

21. Create a for loop that iterates through the list of columns ending with '3_3' and call the function 'replace_values' for each of them and provide 12 as the incorect value and 10 as the new value:

In [22]:
for col_name in ['attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3']:
  replace_value(df, col_name, 12, 10)

attr3_3
[ 5.  7. nan  6.  4.  9.  8.  3. 10.  2.]
sinc3_3
[ 7.  6. nan  5.  8.  9. 10.  4.  3.  2.]
intel3_3
[ 7.  9. nan  6. 10.  8.  5.  4.  3.]
fun3_3
[ 7.  9. nan  8.  6.  3.  5. 10.  2.  4.]
amb3_3
[ 7.  4. nan  5. 10.  9.  8.  6.  2.  3.  1.]

Great! We have fixed the unexpected values for these columns.

22. Print the data type of each variable using the attribute dtypes:

In [26]:
df.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
wave          int64
round         int64
position      int64
positin1    float64
order         int64
partner       int64
pid         float64
match         int64
int_corr    float64
samerace      int64
age_o       float64
race_o      float64
pf_o_att    float64
pf_o_sin    float64
pf_o_int    float64
pf_o_fun    float64
pf_o_amb    float64
pf_o_sha    float64
dec_o         int64
attr_o      float64
sinc_o      float64
intel_o     float64
fun_o       float64
amb_o       float64
shar_o      float64
like_o      float64
prob_o      float64
met_o       float64
age         float64
field        object
field_cd    float64
undergra     object
mn_sat      float64
tuition     float64
race        float64
imprace     float64
imprelig    float64
from         object
zipcode     float64
income      float64
goal        float64
date        float64
go_out      float64
career       object
career_c    float64
sports      float64
tvsports    float64
exercise    float64
dining      float64
museums     float64
art         float64
hiking      float64
gaming      float64
clubbing    float64
reading     float64
tv          float64
theater     float64
movies      float64
concerts    float64
music       float64
shopping    float64
yoga        float64
exphappy    float64
expnum      float64
attr1_1     float64
sinc1_1     float64
intel1_1    float64
fun1_1      float64
amb1_1      float64
shar1_1     float64
attr4_1     float64
sinc4_1     float64
intel4_1    float64
fun4_1      float64
amb4_1      float64
shar4_1     float64
attr2_1     float64
sinc2_1     float64
intel2_1    float64
fun2_1      float64
amb2_1      float64
shar2_1     float64
attr3_1     float64
sinc3_1     float64
fun3_1      float64
intel3_1    float64
amb3_1      float64
attr5_1     float64
sinc5_1     float64
intel5_1    float64
fun5_1      float64
amb5_1      float64
dec           int64
attr        float64
sinc        float64
intel       float64
fun         float64
amb         float64
shar        float64
like        float64
prob        float64
met         float64
match_es    float64
attr1_s     float64
sinc1_s     float64
intel1_s    float64
fun1_s      float64
amb1_s      float64
shar1_s     float64
attr3_s     float64
sinc3_s     float64
intel3_s    float64
fun3_s      float64
amb3_s      float64
satis_2     float64
length      float64
numdat_2    float64
attr7_2     float64
sinc7_2     float64
intel7_2    float64
fun7_2      float64
amb7_2      float64
shar7_2     float64
attr1_2     float64
sinc1_2     float64
intel1_2    float64
fun1_2      float64
amb1_2      float64
shar1_2     float64
attr4_2     float64
sinc4_2     float64
intel4_2    float64
fun4_2      float64
amb4_2      float64
shar4_2     float64
attr2_2     float64
sinc2_2     float64
intel2_2    float64
fun2_2      float64
amb2_2      float64
shar2_2     float64
attr3_2     float64
sinc3_2     float64
intel3_2    float64
fun3_2      float64
amb3_2      float64
attr5_2     float64
sinc5_2     float64
intel5_2    float64
fun5_2      float64
amb5_2      float64
you_call    float64
them_cal    float64
date_3      float64
numdat_3    float64
num_in_3    float64
attr1_3     float64
sinc1_3     float64
intel1_3    float64
fun1_3      float64
amb1_3      float64
shar1_3     float64
attr7_3     float64
sinc7_3     float64
intel7_3    float64
fun7_3      float64
amb7_3      float64
shar7_3     float64
attr4_3     float64
sinc4_3     float64
intel4_3    float64
fun4_3      float64
amb4_3      float64
shar4_3     float64
attr2_3     float64
sinc2_3     float64
intel2_3    float64
fun2_3      float64
amb2_3      float64
shar2_3     float64
attr3_3     float64
sinc3_3     float64
intel3_3    float64
fun3_3      float64
amb3_3      float64
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
dtype: object

We can see most of the columns have been detected as numerical variables but looking at the dataset description document, we know that they are categorical for most of them. Let's change their data type.

23. Create a list called 'num_cols' containing the following list of columns: 'round', 'order', 'int_corr', 'age', 'mn_sat', 'income', 'expnum'

In [0]:
num_cols = ['round', 'order', 'int_corr', 'age', 'mn_sat', 'income', 'expnum']

24. Create another list called 'cat_cols' containing the remaining columns names (excluding the ones in num_cols) of this dataframe using the attribute columns combined with the method '.difference()':

In [0]:
cat_cols = df.columns.difference(num_cols)

25. Create a for loop that will iterate through cat_cols and change the data type for each of them into a category using the method '.astype()':

In [0]:
for col_name in cat_cols:
  df[col_name] = df[col_name].astype('category')

26. Print the data type of each variable using the attribute dtypes:

In [30]:
df.dtypes

iid         category
id          category
gender      category
idg         category
condtn      category
wave        category
round          int64
position    category
positin1    category
order          int64
partner     category
pid         category
match       category
int_corr     float64
samerace    category
age_o       category
race_o      category
pf_o_att    category
pf_o_sin    category
pf_o_int    category
pf_o_fun    category
pf_o_amb    category
pf_o_sha    category
dec_o       category
attr_o      category
sinc_o      category
intel_o     category
fun_o       category
amb_o       category
shar_o      category
like_o      category
prob_o      category
met_o       category
age          float64
field       category
field_cd    category
undergra    category
mn_sat       float64
tuition     category
race        category
imprace     category
imprelig    category
from        category
zipcode     category
income       float64
goal        category
date        category
go_out      category
career      category
career_c    category
sports      category
tvsports    category
exercise    category
dining      category
museums     category
art         category
hiking      category
gaming      category
clubbing    category
reading     category
tv          category
theater     category
movies      category
concerts    category
music       category
shopping    category
yoga        category
exphappy    category
expnum       float64
attr1_1     category
sinc1_1     category
intel1_1    category
fun1_1      category
amb1_1      category
shar1_1     category
attr4_1     category
sinc4_1     category
intel4_1    category
fun4_1      category
amb4_1      category
shar4_1     category
attr2_1     category
sinc2_1     category
intel2_1    category
fun2_1      category
amb2_1      category
shar2_1     category
attr3_1     category
sinc3_1     category
fun3_1      category
intel3_1    category
amb3_1      category
attr5_1     category
sinc5_1     category
intel5_1    category
fun5_1      category
amb5_1      category
dec         category
attr        category
sinc        category
intel       category
fun         category
amb         category
shar        category
like        category
prob        category
met         category
match_es    category
attr1_s     category
sinc1_s     category
intel1_s    category
fun1_s      category
amb1_s      category
shar1_s     category
attr3_s     category
sinc3_s     category
intel3_s    category
fun3_s      category
amb3_s      category
satis_2     category
length      category
numdat_2    category
attr7_2     category
sinc7_2     category
intel7_2    category
fun7_2      category
amb7_2      category
shar7_2     category
attr1_2     category
sinc1_2     category
intel1_2    category
fun1_2      category
amb1_2      category
shar1_2     category
attr4_2     category
sinc4_2     category
intel4_2    category
fun4_2      category
amb4_2      category
shar4_2     category
attr2_2     category
sinc2_2     category
intel2_2    category
fun2_2      category
amb2_2      category
shar2_2     category
attr3_2     category
sinc3_2     category
intel3_2    category
fun3_2      category
amb3_2      category
attr5_2     category
sinc5_2     category
intel5_2    category
fun5_2      category
amb5_2      category
you_call    category
them_cal    category
date_3      category
numdat_3    category
num_in_3    category
attr1_3     category
sinc1_3     category
intel1_3    category
fun1_3      category
amb1_3      category
shar1_3     category
attr7_3     category
sinc7_3     category
intel7_3    category
fun7_3      category
amb7_3      category
shar7_3     category
attr4_3     category
sinc4_3     category
intel4_3    category
fun4_3      category
amb4_3      category
shar4_3     category
attr2_3     category
sinc2_3     category
intel2_3    category
fun2_3      category
amb2_3      category
shar2_3     category
attr3_3     category
sinc3_3     category
intel3_3    category
fun3_3      category
amb3_3      category
attr5_3     category
sinc5_3     category
intel5_3    category
fun5_3      category
amb5_3      category
dtype: object

Great! We have sorted out the data type for each column. Now let's see of we have missing columns for the numerical fields.

27. Print the number of missing values for each column in num_cols by combining the methods .isna() and .sum():

In [31]:
df[num_cols].isna().sum()

round          0
order          0
int_corr     158
age           95
mn_sat      5245
income      4099
expnum      6578
dtype: int64

There are some missing values for most of these columns. We need to fix these cases. Let's start with the column 'int_corr':

28. Print the unique values of the variable 'int_corr' using the method .unique():

In [32]:
df['int_corr'].unique()

array([ 0.14,  0.54,  0.16,  0.61,  0.21,  0.25,  0.34,  0.5 ,  0.28,
       -0.36,  0.29,  0.18,  0.1 , -0.21,  0.32,  0.73,  0.6 ,  0.07,
        0.11,  0.39, -0.24, -0.14,  0.09, -0.04, -0.3 , -0.26, -0.15,
       -0.47, -0.18,  0.05,  0.37,  0.35,  0.15, -0.19, -0.43,  0.  ,
       -0.17,  0.08, -0.16,  0.06, -0.05, -0.13, -0.06,  0.33, -0.51,
        0.12,  0.19,  0.47,  0.03,  0.46,  0.43,  0.52, -0.46, -0.27,
        0.59,  0.31, -0.34, -0.03, -0.11,  0.42, -0.4 , -0.23,  0.17,
        0.68, -0.01, -0.35,  0.3 ,  0.65,  0.24,  0.41,  0.49,  0.01,
        0.22, -0.08,  0.27,  0.44,  0.62, -0.2 , -0.02, -0.33, -0.52,
       -0.1 ,  0.58, -0.57, -0.31, -0.07, -0.32,  0.04, -0.12,  0.48,
       -0.22, -0.29,  0.38,  0.53, -0.38,  0.02, -0.28,  0.13,  0.2 ,
         nan, -0.41, -0.44,  0.51, -0.48,  0.4 ,  0.26,  0.77, -0.49,
       -0.25, -0.09,  0.45, -0.39,  0.83,  0.57, -0.61,  0.72, -0.37,
        0.23, -0.58,  0.8 , -0.56,  0.63, -0.63,  0.71,  0.36,  0.56,
        0.55,  0.76,  0.69,  0.79,  0.9 ,  0.67,  0.66,  0.81,  0.64,
        0.74,  0.75,  0.85, -0.42, -0.5 , -0.59,  0.7 ,  0.82,  0.78,
       -0.45, -0.83,  0.88, -0.7 , -0.62, -0.55,  0.87,  0.91,  0.84,
       -0.64, -0.73, -0.54])

The values of the column'int_corr' range between -1 and 1. It seems they have been normalised. As there are no extreme values or outliers, we can impute the missing values with the mean of this variable. This is what we are going to do in the next few steps.

29. Create a condition mask called int_corr_mask for finding the missing values in the column 'int_corr' using the method .isna():

In [0]:
int_corr_mask = df['int_corr'].isna()

30. Display the number of missing values for this column using the method .sum() on 'int_corr_mask':

In [34]:
int_corr_mask.sum()

158

We got the exact same number of missing values for 'int_corr' as in step 6.

31. Extract the mean of 'int_corr' using the method '.mean()' and store it in a new variable called int_corr_mean. Print its value:

In [35]:
int_corr_mean = df['int_corr'].mean()
print(int_corr_mean)

0.19600973236009664

The average value for this column is 0.196. We will replace all missing values by this value in the column 'int_corr'.

32. Replace all missing values from the variable 'int_corr' with its average using the method '.fillna()' with the parameter 'inplace=True':

In [0]:
df['int_corr'].fillna(int_corr_mean, inplace=True)

33. Print the number of missing values for 'int_corr' by combining the methods .isna() and .sum():

In [37]:
df['int_corr'].isna().sum()

0

Perfect! There is no mising value anymore in the variable.

34. Create a new variable called 'missing_num_cols' containing the following columns: 'age', 'mn_sat', 'income', 'expnum'

In [0]:
missing_num_cols = ['age', 'mn_sat', 'income', 'expnum']

35. Create a for loop that will iterate through the columns in 'missing_num_cols' and print their name and their list of unique values using the method '.unique()':

In [39]:
for col_name in missing_num_cols:
  print(col_name)
  print(df[col_name].unique())

age
[21. 24. 25. 23. 22. 26. 27. 30. 28. nan 29. 34. 35. 32. 39. 20. 19. 18.
 37. 33. 36. 31. 42. 38. 55.]
mn_sat
[  nan 1070. 1258. 1400. 1290. 1460. 1430. 1215. 1330. 1450. 1155. 1140.
 1360. 1402. 1250. 1210. 1220. 1410. 1260. 1380. 1030. 1309. 1308. 1050.
 1100. 1310. 1490. 1188. 1097. 1212. 1340. 1034. 1185. 1242. 1160. 1099.
 1214. 1270. 1110. 1178. 1060. 1157. 1180. 1014. 1341.  990. 1320. 1159.
 1370. 1105. 1365. 1011. 1130. 1206. 1331. 1191.  914. 1200. 1080. 1090.
 1092. 1470. 1149. 1134. 1230. 1267. 1280. 1227. 1239.]
income
[ 69487.  65929.     nan  37754.  86340.  60304.  54620.  48652.  29237.
  56580.  36782.  38548.  52010.  28418.  43185.  23152.  43664.  48441.
  61152.  36485.  41507.  17134.  30038.  33772.  24997.  42096.  28891.
  62635.  12063.  29809.  26482.  30147.  39919.  41466.  23988.  28989.
  50948.  38022.  47559.  53539.  32159.  53940.  40753.  38207.  46166.
  30973.  28317.  26645.  25589.  55223. 109031.  40409.  21597.  76624.
  35968.  51725.  55419.  55550.  26682.  41547.  23361.  74893.  52804.
  53923.  27094.  57213.  42390.  43636.  57887.  30768.  66699.  45360.
  55080.  17378.  40375.  48929.  78193.  63351.  50745.  29279.  38774.
  58802.  41831.  52186.  97857.  74624.  21590.  38832.  37248.  28240.
  53771.  56096.  31560.  52467.  80006.  47572.  22439.  31383.  40749.
  47997.  78704.  31143.  32129.  44195.  46837.  97972.  35960.  65708.
  49466.  53229.  32649.  35867.  40244.  42640.  52388.  62875.  30855.
  46800.  45695.  46792.  53501.  64716.  27248.  22805.  56118.  30146.
  39123.  46153.  45300.  42397.  44346.  42225.  37405.  28524.  61141.
   8607.  41476.  49841.  37240.  36594.  62997.  46608.  37881.  48944.
  77112.  18283.  31432.  73073.  26706.  50060.  25401.  80608.  43844.
  53196.  25786.  39394.  40695.  45788.  37315.  51663.  32563.  54303.
  16908.  39729.  57316.  30587.  57513.  31857.  23207.  25831.  28759.
  19264.  41778.  35963.  49409.  31516.  36223.  43367.  27503.  35187.
  26298.  31148.  55704.  46138.  66827.  42897.  31809.  75347.  47005.
  52805.  50725.  65693.  45736.  33906.  50501.  48785.  52318.  62844.
  52586.  29236.  31486.  31632. 106663.  84043.  35224.  36381.  65498.
  60000.  22669.  81266.  29746.  47556.  42651.  27794.  41737.  90225.
  52280.  56056.  60835.  62829.  16767.  42967.  21488.  89977.  18619.
  22161.  82734.  40163.  46185.  78844.  29575.  34752.  22173.  37994.
  35409.  23707.  57501.  25314.  48876.  34870.  35848.  45017.  12416.
  87789.  50572.  49642.  20000.  32508.  35627.  46280.  41191.  71787.
  72412.  36510.  32386.  15863.  46272.  48137.  61686.  47624.  36673.
  55138.]
expnum
[ 2.  5. 10.  3. 15. 20.  4.  9. 19.  0. nan  8. 12.  1.  7.  6. 18. 14.
 13.]

The values for these columns are not normalised and some of them have outliers so this time we are going to use their median to fill in the missing values.

36. Create a for loop similar to step 13 but this time you will calculate the median of each column and save it into a variable called 'col_median', impute missing values with this median value using the method '.fillna()' with the parameter 'inplace=True', print the name of the column and its median value:

In [40]:
for col_name in missing_num_cols:
  col_median = df[col_name].median()
  df[col_name].fillna(col_median, inplace=True)
  print(col_name)
  print(col_median)

age
26.0
mn_sat
1310.0
income
43185.0
expnum
4.0

37. Create a for loop similar to step 13 but this time you will print the name of each column and their number of missing values using the combination of the methods '.isna()' and '.sum()':

In [41]:
for col_name in missing_num_cols:
  print(col_name)
  print(df[col_name].isna().sum())

age
0
mn_sat
0
income
0
expnum
0

Excellent! In this activity we have cleaned most of the main quality issues for this dataset. We looked for duplication, incorrect values, wrong data types and missing values. You have also put in practice all the techniques we learned in this chapter to fix these issues. We are now more confident in using this modified version of the dataset to the next step of the project if this was a real use case.